body { background-color: hsl(212, 45%, 89%); }

main {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px 20px 20px 20px ;
    padding-bottom: 40px;
    padding-top: 15px;
}

section{
    background-color: white;
    margin-top: 20px;
    border-radius: 18px;
    width: 290px;
    height: 470px;
}

section img {
    border-radius: 10px;
    margin-top: 13px;
}
.para1 {
    font-family: outfits, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    line-height: 7px;
}

.para2 {
    font-family: outfits, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(20, 15%, 55%);
    line-height: 7px;
}
footer {
    font-size: 11px;
    text-align: center;
}
footer a {
    color: hsl(228, 45%, 44%);
}
footer h4 {
    line-height: 10%;
}